# Firebase Configuration
# Obtenha estas credenciais no console do Firebase (Configurações do Projeto > Seus aplicativos > SDK setup and configuration)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSy...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=devforge-ti.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=devforge-ti
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=devforge-ti.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=588302279831
NEXT_PUBLIC_FIREBASE_APP_ID=1:588302279831:web:18c6faf9bcc536a2d475d2
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-LLYQ1YGQSJ
